/* div{
    height:100px;
    width: 100px;
    background-color: aquamarine;
    border : 2px solid black;
    text-align: center;
}  
.para {
    color:red;
}
.newClass {
    background-color: green;
} */

.dark {
    background-color: black;
    color : white;
}
.light {
    background-color: white;
    color: black;
}

.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    margin: 5px;
}

/*
#box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    align-items: center;
} */